body {
    background-color: black;
    color: white;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
}

img {
    width: 50px;
}

.move-button {
    cursor: pointer;
    background-color: transparent;
    border: 3px solid white;
    padding: 30px;
    border-radius: 80px;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}
.move-button:hover {
    background-color: lightpink;
}
.move-button:active {
    background-color: lightblue;
}

.result {
    font-size: 25px;
    font-weight: bold;
}

.game-detail {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}

.reset-button,
.auto-play-button {
    font-size: 18px;
    background-color: white;
    padding: 10px 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.reset-confirm-button,
.reset-not-confirm-button {
    font-size: 18px;
    background-color: white;
    padding: 10px 30px;
    margin-left: 10px;
    cursor: pointer;
}